<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h2>Edit Training</h2>
<form method="POST">
    {% csrf_token %}
    <label>Title:</label>
    <input type="text" name="title" value="{{ training.title }}" required><br>

    <label>Description:</label>
    <textarea name="description" required>{{ training.description }}</textarea><br>

    <label>Date:</label>
    <input type="date" name="date" value="{{ training.date }}"><br>

    <label>Time:</label>
    <input type="time" name="time" value="{{ training.time }}"><br>

    <label>Location:</label>
    <input type="text" name="location" value="{{ training.location }}"><br>

    <label>CPD Points:</label>
    <input type="number" name="cpd_points" min="0" value="{{ training.cpd_points }}"><br>

    <button type="submit">Update Training</button>
</form>

{% endblock %}

</body>
</html>