<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer</title>
</head>
<body>
{% extends 'dashboard/base.html' %}
{% block content %}
<h2>Trainer Dashboard</h2>
<p>Welcome, {{ request.user.username }}!</p>

<a href="{% url 'trainer_dashboard' %}">Manage Trainings</a>
<br>
<a href="{% url 'trainer_trainings_page' %}">Attendence QR Generate</a>
<br>
<a href="{% url 'evaluation_dashboard' %}">Evaluation dashboard</a>
{% endblock %}

</body>
</html>