<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
<form method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br><br>

    <label>Email:</label>
    <input type="email" name="email"><br><br>

    <label>Password:</label>
    <input type="password" name="password"><br><br>

    <label>Who are you:</label>
    <select name="role">
        <option value="Employee">Employee</option>
        <option value="Trainer">Trainer</option>
        <option value="HOD">HOD</option>
    </select><br><br>

    <label>Personal Info / Bio:</label><br>
    <textarea name="extra_info" rows="4" cols="50"></textarea><br><br>

    <button type="submit">Register</button>
</form>
    <p><a href="/login/">Back to Login</a></p>
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:green">{{ message }}</p>
    {% endif %}
</body>
</html>
